#color{
    height: 100%;
    width: 100%;
}

.lowHeartBeat{
    background-color: blue;
    -webkit-transition: background-color 1000ms linear;
    -moz-transition: background-color 1000ms linear;
    -o-transition: background-color 1000ms linear;
    -ms-transition: background-color 1000ms linear;
    transition: background-color 1000ms linear;
}

.mediumHeartBeat{
    background-color: #ffdd27;
    -webkit-transition: background-color 1000ms linear;
    -moz-transition: background-color 1000ms linear;
    -o-transition: background-color 1000ms linear;
    -ms-transition: background-color 1000ms linear;
    transition: background-color 1000ms linear;
}

.highHeartBeat{
    background-color: red;
    -webkit-transition: background-color 1000ms linear;
    -moz-transition: background-color 1000ms linear;
    -o-transition: background-color 1000ms linear;
    -ms-transition: background-color 1000ms linear;
    transition: background-color 1000ms linear;
}

#heartRate{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    color: white;
    font-weight:bold;
    font-family:Verdana, Geneva, sans-serif;
    font-size:40px;
}

@keyframes pulse {
    50% { background-color: #ccc }
}

